@use "freelancers";
@use "orders";

.sidebar {
  .image {
    i.fa {
      color: white;
      font-size: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .info {
    text-wrap: auto;
  }
}

.fc-daygrid-event {
  text-wrap: auto;
}

.fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
  padding: 3px;
}